<div id="<%= dom_id kitetrip_event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Kitetrip:</strong>
    <%= kitetrip_event.kitetrip_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Event date:</strong>
    <%= kitetrip_event.event_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= kitetrip_event.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= kitetrip_event.description %>
  </div>
</div>
