<%= form_with(model: [@kitetrip, kitetrip_route], class: "contents") do |form| %>
  <% if kitetrip_route.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(kitetrip_route.errors.count, "error") %> prohibited this kitetrip_route from being saved:</h2>

      <ul class="list-disc ml-6">
        <% kitetrip_route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :start_date %>
    <%= form.datetime_field :start_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kitetrip_route.errors[:start_date].none?, "border-red-400 focus:outline-red-600": kitetrip_route.errors[:start_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :end_date %>
    <%= form.datetime_field :end_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": kitetrip_route.errors[:end_date].none?, "border-red-400 focus:outline-red-600": kitetrip_route.errors[:end_date].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
